/<!DOCTYPE html>
<html>
  <head>
  
    <!-- Javascript components -->
      <!-- Openlayers -->
      <script src="assets/js/ol.js" type="text/javascript"></script>
      <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
      <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
      <!-- layer switcher -->
      <script src="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.js"></script>
      <!-- geocoder for search -->
      <script src="https://cdn.jsdelivr.net/npm/ol3-geocoder@2.5.0/build/ol3-geocoder.min.js"></script>
      <script src="https://unpkg.com/ol-popup@2.0.0"></script>


    <!-- the linked styles -->
      <!-- OpenLayers -->
      <link rel="stylesheet" href="assets/css/ol.css">
      <!-- layer switcher -->
      <link rel="stylesheet" type="text/css" href="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.css">
      <!-- geocoder for search -->
      <link rel="stylesheet" href="//cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.min.css">
      <link rel="stylesheet" href="https://unpkg.com/ol-popup@2.0.0/src/ol-popup.css" />

    <!-- the header -->
    <div id="header">
      <img class="logo" src="img/osm_cat.png" alt="logo osm.cat">
      <span class="slogan">OpenStreetMap en català</span>

      <!--<div id="updateInfo">Hivizadur ar gartenn : dec'h</div>-->

      <div id="nav">
        <ul>
          <li><a href="https://wiki.openstreetmap.org/wiki/CA:Mapa_en_catal%C3%A0" target="_blank">Projecte</a></li>
        </ul>
      </div>

    </div>

    <!-- the map -->
    <div id="map" class="map"></div>

    <script type="text/javascript">

      //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      // settings

      // default zoom and center for startup
      var zoom = 10;
      var center = [2.8, 42.5];
      var minZoom = 5;
      var maxZoom = 18;


      //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      //  for the permalink url

      if (window.location.hash !== '') {
        // try to restore center, zoom-level and rotation from the URL
        var hash = window.location.hash.replace('#map=', '');
        var parts = hash.split('/');
        if (parts.length === 3) {
          zoom = parseInt(parts[0], 10);
          center = [
            parseFloat(parts[2]),
            parseFloat(parts[1])
          ];
        }
      }


      //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      // the osm tiles services

      // OSM BR
      var layerOsmBr = new ol.layer.Tile({
        title: 'OpenStreetMap CAT',
        type: 'base',
        visible: true,
        source: new ol.source.XYZ({
          url: 'https://tile.openstreetmap.bzh/ca/{z}/{x}/{y}.png',
          attributions: [
            '© <a href="http://www.openstreetmap.org/copyright" target="_blank">Col·laboradors d\'OpenStreetMap</a>'
          ]
        })
      });

      // OSM BR control
      var layerOsmBrControl = new ol.layer.Tile({
        title: 'Topònim present en català?',
        type: 'layer',
        visible: false,
        source: new ol.source.XYZ({
          url: 'https://tile.openstreetmap.bzh/ca_control/{z}/{x}/{y}.png',
          attributions: [
            '© <a href="http://www.openstreetmap.org/copyright" target="_blank">Col·laboradors d\'OpenStreetMap</a>'
          ]
        })
      });

      // OSM FR
      var layerOsmFr = new ol.layer.Tile({
        title: 'OpenStreetMap FR',
        type: 'base',
        visible: false,
        source: new ol.source.XYZ({
          url: 'https://{a-c}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png',
          attributions: [
            '© <a href="http://www.openstreetmap.org/copyright" target="_blank">Col·laboradors d\'OpenStreetMap</a>'
          ]
        })
      });

      // OSM ORG
      var layerOsmOrg = new ol.layer.Tile({
        title: 'OpenStreetMap ORG',
        type: 'base',
        visible: false,
        source: new ol.source.XYZ({
          url: 'https://{a-c}.tile.openstreetmap.org/{z}/{x}/{y}.png',
          attributions: [
            '© <a href="http://www.openstreetmap.org/copyright" target="_blank">Col·laboradors d\'OpenStreetMap</a>'
          ]
        })
      });


      //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      // additional vector layers


      //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      // the map

      var attribution = new ol.control.Attribution({
        collapsible: false
      });

      var map = new ol.Map({
        target: 'map',
        
        // layers are grouped for the layer switcher
        layers: [
            new ol.layer.Group({
                'title': 'Mapes',
                layers: [layerOsmOrg, layerOsmFr, layerOsmBr]
            }),
            new ol.layer.Group({
                title: 'Capes superposades',
                layers: [layerOsmBrControl]
            })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat(center),
          zoom: zoom,
          minZoom: minZoom,
          maxZoom: maxZoom
        }),
        controls: ol.control.defaults({
          attribution: false,
          zoomOptions: {
            zoomInTipLabel: 'Apropa',
            zoomOutTipLabel: 'Allunya'
          }
        }).extend(
          [
            attribution, // Add attribution control
            new ol.control.ScaleLine() // Add graphic scale line
          ]
        ),
        target: 'map'
      });


      //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      //  for collapsing the attribution control if the available width gets smaller then 600 px

      function checkSize() {
        var small = map.getSize()[0] < 600;
        attribution.setCollapsible(small);
        attribution.setCollapsed(small);
      }

      window.addEventListener('resize', checkSize);
      checkSize();


      //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      //  for the permalink url

      var shouldUpdate = true;
      var view = map.getView();
      
      var updatePermalink = function() {
        if (!shouldUpdate) {
          // do not update the URL when the view was changed in the 'popstate' handler
          shouldUpdate = true;
          return;
        }

        var center = ol.proj.toLonLat(view.getCenter());
        var hash = '#map=' +
            view.getZoom() + '/' +
            Math.round(center[1] * 10000) / 10000 + '/' +
            Math.round(center[0] * 10000) / 10000;
        var state = {
          zoom: view.getZoom(),
          center: view.getCenter()
        };
        window.history.pushState(state, 'map', hash);
      };

      // when stop movement on the map : update the url
      map.on('moveend', updatePermalink);

      // restore the view state when navigating through the history, see
      // https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onpopstate
      window.addEventListener('popstate', function(event) {
        if (event.state === null) {
          return;
        }
        map.getView().setCenter(event.state.center);
        map.getView().setZoom(event.state.zoom);
        shouldUpdate = false;
      });


      //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      //  for the layer switcher

      var layerSwitcher = new ol.control.LayerSwitcher({
          tipLabel: 'Légende' // Optional label for button
      });
      map.addControl(layerSwitcher);


      //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      //  for the geocoder / nominatim

      var geocoder = new Geocoder('nominatim', {
        provider: 'osm',
        targetType: 'text-input',
        lang: 'ca',
        placeholder: 'Cercar en català',
        limit: 10,
        keepOpen: false,
        preventDefault: true
      });
      map.addControl(geocoder);

      // show a popup when choose a place
      var popup = new ol.Overlay.Popup({
        panMapIfOutOfView: false
      });
      map.addOverlay(popup);

      //Listen when a place or an address is chosen
      geocoder.on('addresschosen', function (evt) {
        window.setTimeout(function () {
          popup.show(evt.coordinate, evt.address.formatted);
        }, 1000);
      });

      // Manage click on the map to display/hide popup
      map.on('click', function(e) {
        var info = [];
        map.forEachFeatureAtPixel(e.pixel, function (feature) {
          info.push(/*feature.get('title') + '<br>' + */feature.get('text'));
        });
        if (info.length > 0) {
          // debugger;
          popup.show(e.coordinate, info.join(','));
        } else {
          popup.hide();
        }
      });

      //+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
      //  for the styles of Redadeg vector layers

      var selectedTextStyleFunction = function(name) {
          //console.log(km);
          return new ol.style.Style({
              text: new ol.style.Text({
                  font: '12px helvetica,sans-serif',
                  text: name,
                  fill: new ol.style.Fill({
                      color: '#000'
                  }),
                  stroke: new ol.style.Stroke({
                      color: '#fff',
                      width: 2
                  })
              }),
              text: map.getView().getZoom() > 12 ? this.get('km') : ''
          });
      };

    var selectedFeatures = [];

    // Unselect previous selected features
    function unselectPreviousFeatures() {
        var i;
        for(i=0; i< selectedFeatures.length; i++) {
            selectedFeatures[i].setStyle(null);
        }
        selectedFeatures = [];
    }

    // Handle pointer
    map.on('pointermove', function(event) {
        unselectPreviousFeatures();                
        map.forEachFeatureAtPixel(event.pixel, function(feature) {
            feature.setStyle([
                RedadegPKselectedStyle, 
                selectedTextStyleFunction("KM " + feature.get('km') + "\n" + feature.get('jour') + "\n" + feature.get('heure'))
            ]);
            selectedFeatures.push(feature);
        });
    });
    </script>

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://piwik.res-telae.cat/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '13']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

  </body>
</html>
